pipeline/SQLDB_TO_BLOB.json
{
	"name": "SQLDB_TO_BLOB",
	"properties": {
		"activities": [
			{
				"name": "CopyActivity",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "sqldataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Blobdataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "StoredProcedureActivity",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[metadatasp]",
					"storedProcedureParameters": {
						"adfname": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"executionendtime": {
							"value": {
								"value": "@activity('CopyActivity').output.executionDetails.duration",
								"type": "Expression"
							},
							"type": "String"
						},
						"executionstarttime": {
							"value": {
								"value": "@activity('CopyActivity').output.executionDetails.start",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"pipeline": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"recordsread": {
							"value": {
								"value": "@activity('CopyActivity').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"recordswritten": {
							"value": {
								"value": "@activity('CopyActivity').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"runid": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"status": {
							"value": {
								"value": "@activity('CopyActivity').output.executionDetails.status",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "WebActivity",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CopyActivity",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-43.eastus.logic.azure.com:443/workflows/c44e9cc8d6654c5ba1132a66d5ea27a9/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=OBoXUKYZWEhFwTmPO1qgh3qpOmdiF1jlqXtwigPLDwY",
					"method": "GET"
				}
			}
		],
		"annotations": []
	}
}